<div @ref="elem" class="ct-chart"></div>

@inject IJSRuntime JS
@code {
    ElementReference elem;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("BlazorChartist.createChart", elem);
        }
    }
}
